h3 Welcome!!
h4 You can share the following status to other citizens
div.row
    div.col-xs-2
        img.img-responsive.center-block(src='images/statusOK.png')
    div.col-xs-10 OK: I am OK, I do not need help.
div.row
    div.col-xs-2
        img.img-responsive.center-block(src='images/statusHelp.png')
    div.col-xs-10 Help: I need help, but this is not a life threatening emergency.
div.row
    div.col-xs-2
        img.img-responsive.center-block(src='images/statusEmergency.png')
    div.col-xs-10 Emergency: I need help now, as this is a life threatening emergency!
div.row
    div.col-xs-2
        img.img-responsive.center-block(src='images/statusUndefined.png')
    div.col-xs-10 Undefined: The user has not been providing his/her status yet.

